@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
    --primary: #4B0608;
    --secondary: #D2462A;
}

html,
body {
    background-color: #faf6f5;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
}



.is-sticky {
    /* Add styles for when the header is sticky */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Customizing the scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) #f1f1f1;
}


.logo {
    width: 150px;
}

header {
    position: fixed;
    /* Change from sticky to fixed */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.2s ease;
    /* Smooth transition */
    background: linear-gradient(to right, #D9D9D9, transparent);
}

nav {
    position: initial;
}

nav ul li {
    position: relative;
    opacity: 1;
}

nav ul li:active {
    scale: 0.5;
}

nav ul li a {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

nav ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: var(--secondary);
    border-radius: 50%;
    filter: blur(15px);
    position: absolute;
    top: 0;
    left: -15px;
    z-index: -1;
    scale: 0;
    transition: 0.3s;
}

nav ul li:hover::before {
    scale: 1;
}

nav ul li::after {
    content: url(./images/NritangiFlower1.png);
    display: inline-block;
    position: absolute;
    bottom: 6px;
    right: -18px;
    filter: drop-shadow(2px 4px 6px #d2462a7c);
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s;
}

nav ul li:hover::after {
    filter: drop-shadow(2px 4px 6px #d2462a7c);
    transform: translateY(0) rotate(45deg);
    opacity: 1;
}

nav ul li a:hover {
    color: var(--secondary);
    font-size: 18px;
    font-weight: 500;
}

nav ul li.active a {
    color: var(--secondary);
    font-size: 18px;
    font-weight: 500;
}

nav ul li.active::before {
    scale: 1;
}

nav ul li.active::after {
    filter: drop-shadow(2px 4px 6px #d2462a7c);
    transform: translateY(0) rotate(45deg);
    opacity: 1;
}

.btn-menu {
    background: #4B0608;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    display: none;
}

.btn-menu i {
    color: var(--secondary);
}

.btn-close {
    background: var(--secondary);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 500;
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid var(--secondary);
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

main {
    margin-top: 108px;
}




/* HERO SECTION START */

#hero {
    min-height: calc(100vh - 108px);
    /* height: 100vh; */
    position: relative;
}

.hero-wrapper::after {
    content: "";
    display: inline-block;
    width: 500px;
    height: 500px;
    background: linear-gradient(transparent, #D2462A);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
    transition: 2s;

}

.hero-wrapper::before {
    content: "";
    display: inline-block;
    width: 300px;
    height: 300px;
    background: linear-gradient(#73737350, transparent);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
    transition: 2s;

}



.swiper-slide-active .hero-wrapper::after {
    top: 68%;
    opacity: 1;
}

.swiper-slide-active .hero-wrapper::before {
    top: 20%;
    opacity: 1;
}

#hero .swiper {
    width: 100%;
    height: 100%;
}


#hero .swiper-pagination-bullet {
    background-color: black !important;
    opacity: 1;
    scale: 1.2;
    display: inline-block;
    margin: 7px;
    transition: 0.5s;
}

#hero .swiper-pagination-bullet-active {
    background-color: var(--primary) !important;
    scale: 2;
    transition: 0.5s;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: absolute;
    top: 25% !important;
    left: 2% !important;
    transform: rotate(90deg);
    transform-origin: top left;
    width: auto !important;
    height: 10px;

}

.swiper-prev,
.swiper-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.swiper-prev:active,
.swiper-next:active {
    scale: 0.5;
}

.swiper-prev::after,
.swiper-next::after {
    display: none;
}

.swiper-prev:hover,
.swiper-next:hover {
    background: linear-gradient(#D9D9D9, #737373);
}

.next-prev-btns {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 2%;
    right: 0;
    padding: 0 20px;
    z-index: 100;
}


.swiper-next {
    color: white;
    font-size: 25px;
}

.hero-wrapper .welcome {
    color: #D2462A;
    transform: translateY(20px);
    opacity: 0;
    transition: 1s;
    transition-delay: 0.1s;
    font-size: clamp(1.5rem, 3vw, 5rem);
    font-weight: 500;
    line-height: 1.2;
}

.swiper-slide-active .hero-wrapper .welcome {
    color: #4B0608;
    transform: translateY(0);
    opacity: 1;
}

.hero-wrapper .welcome::after {
    content: "";
    display: inline-block;
    width: 200px;
    height: 2px;
    background: var(--primary);
    margin: 0 auto;
}

.hero-wrapper .nrityangi {
    display: block;
    font-size: clamp(7rem, 10vw, 14rem);
    line-height: 1.1;
    letter-spacing: -0.02em;
    background: linear-gradient(to right, #4B0608, #D2462A, #4B0608);
    display: inline-block;
    padding: 20px 0 25px 0;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: 60px;
    transform: translateY(20px);
    opacity: 0;
    transition: 2s;
    transition-delay: 0.5s;
}



.swiper-slide-active .hero-wrapper .nrityangi {
    transform: translateY(0);
    opacity: 1;
}

.hero-wrapper .nrityangi img {
    transform: translate(-100%, -60%) !important;
    rotate: 360deg;
    filter: drop-shadow(2px 4px 6px #d2462a7c);
    transition: all 2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    /* easeOutBack */
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    /* easeOutBack */
    transition-delay: 0.5s;
}

.swiper-slide-active .hero-wrapper .nrityangi img {
    transform: translate(-40px, -40px);
    rotate: 15deg;
}

.hero-wrapper .dance {
    color: #000;
    display: inline-block;
    transform: translateY(20px);
    opacity: 0;
    transition: 1s;
    transition-delay: 1s;
    font-size: clamp(1.5rem, 3vw, 5rem);
    line-height: 1.2;
}

.swiper-slide-active .hero-wrapper .dance {
    transform: translateY(0);
    opacity: 1;
}

#hero p,
.why-choose-us-section p {
    color: black;
}

.hero-wrapper .academy {
    color: #737373;
    display: inline-block;
    transform: translateY(20px);
    opacity: 0;
    transition: 1s;
    transition-delay: 1.5s;
    font-size: clamp(1.5rem, 3vw, 5rem);
    line-height: 1.2;
}

.swiper-slide-active .hero-wrapper .academy {
    transform: translateY(0);
    opacity: 1;
}


.hero-image img {
    clip-path: inset(0 0 0 100%);
    transition: 2s;
}

.swiper-slide-active .hero-image img {
    clip-path: inset(0 0 0 0);
}

.hero-bottom-image,
.hero-slide-2 img,
.hero-slide-3 img {
    clip-path: inset(0 100% 0 0);
    transition: 2s;

}



.swiper-slide-active .hero-bottom-image,
.swiper-slide-active .hero-slide-2 img,
.swiper-slide-active .hero-slide-3 img {
    clip-path: inset(0 0 0 0);
}

.hero-right-content h2 {
    font-size: clamp(20px, 5vw, 40px);
    font-weight: 900;
    color: #D2462A;
    transform: translateY(20px);
    opacity: 0;
    mix-blend-mode: difference;
    transition: 1s;
    transition-delay: 0.5s;
}

.hero-slide-2 h2,
.hero-slide-3 h2 {
    font-size: clamp(40px, 10vw, 100px);
    background: linear-gradient(to right, #4B0608, #D2462A, #4B0608);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transform: translateY(20px);
    opacity: 0;
    mix-blend-mode: difference;
    transition: 1s;
    transition-delay: 0.5s;
}

.swiper-slide-active .hero-right-content h2,
.swiper-slide-active .hero-slide-2 h2,
.swiper-slide-active .hero-slide-3 h2 {
    transform: translateY(0);
    opacity: 1;
}

.hero-right-content p {
    font-size: clamp(15px, 5vw, 20px);
    font-weight: lighter;
    mix-blend-mode: multiply;
    text-shadow: 0 0 5px rgb(253, 239, 239);
    transform: translateY(20px);
    opacity: 0;
    transition: 1s;
    transition-delay: 1s;
}

.swiper-slide-active .hero-right-content p {
    transform: translateY(0);
    opacity: 1;
}

/* ABOUT SECTION START */

.about-section {
    min-height: calc(100vh - 108px);
    background: linear-gradient(to left, #4B0608, #D2462A);
    width: 100%;
}

.about-horizontal-scroller {
    width: 300vw;
    display: flex;
}

.about-horizontal-scroller .container {
    width: 100vw;
}

.about-section h2,
.about-section h3,
.about-section p {
    color: white;
}

.about-section h2,
.about-content h4 {
    font-size: clamp(1.5rem, 3.4vw, 3.5rem);
}


.about-section p {
    font-size: clamp(0.8rem, 1vw, 1rem);
}

.about-section h3 {
    font-size: clamp(1rem, 2vw, 2rem);
}

.about-section h4 {
    mix-blend-mode: multiply;
}

/* .about-content h2 {
    position: relative;
    letter-spacing: 0.02em;
    font-size: clamp(60px, 10vw, 100px);
    font-weight: 900;
} */

.about-section .origins {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 0px rgb(255, 255, 255);
}

.about-content h2::after,
.our-featured-classes h2::after {
    content: "";
    display: block;
    width: 300px;
    height: 2px;
    background: rgb(255, 255, 255);
    margin-top: 20px;
}

.our-featured-classes .content-details p {
    color: #000;
    font-size: clamp(12px, 1.2vw, 18px);
}

.about-content h2 img {
    filter: invert(1);
}

.our-dance-coaches h2::after {
    content: "";
    display: block;
    width: 300px;
    height: 2px;
    background: black;
    margin-left: auto;
    margin-top: 20px;
}

.about-image {
    position: relative;
}

.about-image img {
    filter: drop-shadow(2px 4px 6px #000000);
}

.dance-image {
    position: relative;
}

.dance-image img {
    filter: drop-shadow(0 0 2px black);
}

.dance-image::before {
    content: "";
    width: 100%;
    height: 80%;
    background-color: #D2462A;
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: -1;
    filter: blur(5px);
    border-radius: 50%;
}

.about-image::before {
    content: "";
    width: 80%;
    height: 80%;
    background-color: #D2462A;
    filter: blur(50px);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-40%);
}

.know-about-more-btn {
    display: inline-block;
    background-color: #000;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 5px 5px 0px #D2462A;
    transition: 0.5s;
    font-size: clamp(12px, 1.5vw, 25px)
}

.know-about-more-btn:active {
    scale: 0.7;
}

.know-about-more-btn:hover {
    scale: 1.1;
    background-color: #D2462A;
    color: #000;
    border: 2px solid #000;
    box-shadow: 5px 5px 0px #4B0608;
}

.join-dance img {
    box-shadow: 5px 5px 0 black;
}

.join-dance::before {
    content: "";
    height: 100%;
    width: 80%;
    background-color: #D2462A;
    left: 50%;
    top: 20%;
    transform: translateX(-40%);
    display: block;
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
}


/* ABOUT SECTION END */

/* WHY CHOOSE US SECTION START */

#why-choose-us {
    background: linear-gradient(rgba(255, 255, 255, 0.877), rgba(255, 255, 255, 0.74)), url(./images/why-bg.webp) no-repeat center/cover;
    background-attachment: fixed;
}

.why-choose-us-section h2::after {
    content: "";
    display: block;
    width: 300px;
    height: 2px;
    background: black;
    margin-left: auto;
    margin-top: 20px;
}

.why-choose-us-image img {
    filter: drop-shadow(5px 5px 2px #747272);
}

.wcup-content {
    transition: 0.5s;
}

.wcup-content:hover {
    scale: 1.1;
}

.circles {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
}

.circles>div {
    animation: growAndFade 3s infinite ease-out;
    background-color: #575757;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.circles .circle1 {
    animation-delay: 1s;
}

.circles .circle2 {
    animation-delay: 2s;
}

.circles .circle3 {
    animation-delay: 3s;
}

.wcup-content h3 {
    color: #D2462A;
}

@keyframes growAndFade {
    0% {
        opacity: 0.25;
        transform: scale(0);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/* WHY CHOOSE US SECTION END */


.our-featured-classes {
    background: url(./images/Our\ Featured\ Classes.png) no-repeat bottom center/cover;
    min-height: calc(100vh - 108px);
    width: 100%;
}

.class-card {
    position: relative;
    z-index: 1;
}

.class-card img {
    height: 400px;
    object-fit: cover;
    object-position: top;
}

.card-content {
    background-color: #D9D9D9;
    border-radius: 15px;
    position: absolute;
    width: 100%;
    bottom: -10%;
    z-index: -1;
}

.class-card>p {
    color: #B1ADAD;
    font-size: clamp(30px, 7vw, 100px);
    font-weight: 900;
    transform: translateY(80px);
}

.class-book-btn {
    display: inline-block;
    background-color: #4B0608;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 5px 5px 0px #000;
    transition: 0.5s;
}

.class-book-btn:hover {
    scale: 1.1;
    background-color: #D2462A;
}


/* OUR DANCE COACHES  */
.our-dance-coaches {
    background: url(./images/Our\ Coaches.png) no-repeat center/cover;

}

.dance-coach {
    background-color: white;
    box-shadow: 0 0 10px #c9c7c7;
    transition: 0.5s;
}

.dance-coach:hover {
    scale: 1.1 !important;
}

.dance-coach img {
    height: 300px;
    object-fit: cover;
}

.dance-coach h3 {
    background: linear-gradient(#4B0608, #D2462A);
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: white;
    transform: translateY(-20px);
    box-shadow: 0 0 10px white;
}

/* FOOTER */

footer {
    background: black;
}

footer .social-icons i {
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    display: inline-block;
    background: linear-gradient(#4B0608, #D2462A);
    border-radius: 50%;
    margin-right: 10px;
    transition: 1;
}

footer .social-icons i:hover {
    scale: 1.1;
}

footer ul {
    list-style-type: disc;
    color: #D2462A;
    margin: 30px 20px;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul a,
footer ul span {
    color: white;

}

.contact-info ul {
    list-style-type: none;
    margin: 30px 5px;
}

.breadcrumb-section {
    position: relative;
    background: url(./images/breadcrumb-image.jpg) no-repeat center/cover;
    min-height: 400px;
    width: 100%;
    border-bottom: 2px solid black;
}

.breadcrumb-title {
    font-size: clamp(40px, 5vw, 100px);
    background: linear-gradient(#4B0608, #D2462A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 25px;
}

.breadcrumb-title::after {
    content: url(./images/NritangiFlower_breadcrumb.png);
    position: absolute;
    display: inline-block;
    top: 20%;
    transform: translateY(0%);
}

.breadcumb-navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 10px;
    box-shadow: -5px -5px 10px #D2462A;
}

.about-us-page h1 {
    font-size: clamp(25px, 5vw, 80px);
    line-height: 1;
    font-weight: 700;
    margin-bottom: 25px;
}

.mission-vision-section {
    width: 100%;
}

.mission-vision-section h3 {
    font-size: clamp(25px, 2.5vw, 40px);
    font-weight: 700;
    color: #D2462A;
}

.mission-vision-section .our-mission,
.mission-vision-section .our-vision {
    background: #4B0608;
    padding: 50px;
    transition: 0.5s;
}

.mission-vision-section .our-mission:hover,
.mission-vision-section .our-vision:hover {
    background: #000000;
    scale: 0.9;
}

.founded-in {
    position: relative;
    color: #D2462A;
    z-index: 99;
}

.founded-in span {
    color: #000000;
    -webkit-text-stroke: 2px #D2462A;
    font-weight: 900;
    font-size: clamp(80px, 15vw, 200px);
    line-height: 180px;
}

.founder-content h3,
.teaching-philosophy h3 {
    font-size: clamp(25px, 3.5vw, 50px);
    font-weight: bold;
}

.founder-image {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    position: relative;
}

.founder-image img {
    width: 100%;
    height: 100%;
    display: block;
    background-color: white;
    border: 3px solid #c9c7c7;
    border-radius: 50%;
    position: relative;
    z-index: 99;
}

.founder-image::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: #D2462A;
    position: absolute;
    left: -50px;
    top: -20px;
    border-radius: 50%;
}

.founder-image::after {
    content: "";
    width: 110%;
    height: 110%;
    display: block;
    background-color: #4B0608;
    position: absolute;
    left: 20px;
    top: 0px;
    border-radius: 50%;
}

.founder-section {
    background-color: #c9c7c7;
}

.content-wrapper ul li {
    list-style-image: url(./images/favicon/favicon-16x16.png);
    filter: drop-shadow(0 0 5px rgb(231, 231, 231));
}

.get-in-touch {
    background: url(./images/mission-vision.jpg) no-repeat top/cover;
    text-align: center;
    padding: 30px;
}

.get-in-touch .container {
    background-color: #c9c7c7d7;
    box-shadow: 0 0 10px black;
}

.get-in-touch .container h3 {
    color: #4B0608;
    font-weight: 900;
    font-size: clamp(25px, 5vw, 60px);
    text-align: center;
}

.testimonials {
    background: linear-gradient(#ffffffda, #d2462aab), url(./images/testimonials.webp) no-repeat top/cover;
    min-height: 80vh;
}

.testimonials h2 {
    position: relative;
    font-size: clamp(1.875rem, 5vw, 60px);
    line-height: 1.2;
    margin-bottom: 30px;

}

.testimonials h2::after {
    content: "";
    width: 250px;
    height: 2px;
    display: block;
    background-color: #000000;
    margin-top: 10px;
}

.testimonial-slider {
    margin-top: 2rem;
}

.testimonial-slider .next-prev-btns {
    display: none;
}

.testimonial-card {
    position: relative;
    background-color: #e7e5e5c5;
    padding: 50px;
    margin: 60px 0;
}

.testimonial-card img {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 10px #D2462A;
    margin-top: -100px;
    margin-bottom: 20px;
}

.quote-testi {
    background: linear-gradient(#4B0608, #D2462A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 900;
    position: absolute;
    bottom: -60px;
    right: 30px;
}

.class-header h1 {
    font-size: clamp(25px, 10vw, 60px);
    font-weight: 700;
}

.class-header img {
    position: relative;
    z-index: 99;
}

.class-header::after {
    content: "";
    background-color: #c9c7c7;
    height: 250px;
    width: 250px;
    display: block;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50px;
    z-index: 33;
    border-radius: 50%;
    filter: blur(40px);
}

#class-listings h2::after {
    content: "";
    background-color: #4B0608;
    height: 2px;
    width: 200px;
    position: absolute;
    bottom: -20px;
    right: 0;
}

.gallery-tabs label {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.gallery-tabs input:checked+label {
    background-color: #D2462A;
    color: white;
}

[class^="tab-content"] {
    display: none;
}

.gallery-section:has(:nth-of-type(1):checked) .tab-content-1,
.gallery-section:has(:nth-of-type(2):checked) .tab-content-2 {
    display: block;
}

.gallery-item{
    overflow: hidden;
}


.overlay-gallery {
    color: white;
    height: 100%;
    width: 100%;
    background-color: #000000af;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.gallery-item:hover .overlay-gallery{
    color: #D2462A;
    transform: scale(1);
}

/* RESPONSIVE CODE */

@media(max-width: 992px) {

    #hero,
    #about,
    #our-featured-classes {
        height: auto;
    }

    .our-featured-classes {
        background: url(./images/Our\ Featured\ Classes.png) no-repeat top left/cover;
    }

    .btn-menu,
    .btn-close {
        display: block;
    }

    nav {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        background: #4B0608;
        clip-path: circle(0% at 100% 0%);
        transition: 2s;
        overflow: hidden;
    }

    nav ul {
        flex-direction: column;
        justify-content: top;
        align-items: center;
        margin-top: 100px;
        height: 100%;
    }

    nav ul li a {
        color: #fff;
    }

    .card-content {
        position: initial;
    }

    .class-slider .next-prev-btns {
        top: 50%;
        transform: translateY(-50%);
    }

    .class-slider .next-prev-btns div {
        box-shadow: 0 0 10px #D2462A;
    }

    .class-card img {
        height: 250px;
        width: 50%;
        object-fit: cover;
        object-position: top;
    }

    .about-horizontal-scroller {
        width: 100%;
        flex-direction: column;
    }

    .about-horizontal-scroller .container {
        width: 100%;
    }

}

@media(max-width: 600px) {

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        left: 6% !important;
    }

    .nrityangi {
        font-size: clamp(5rem, 8vw, 10rem) !important;
    }

    .swiper-slide-active .hero-wrapper .nrityangi img {
        transform: translate(-40px, -25px);
        opacity: 1;
    }

    .hero-bottom-image {
        width: 100% !important;
    }

    .about-section {
        padding: 10px;
    }

    .about-content h2::after {
        width: 100px;
    }

    .our-dance-coaches h2:after {
        width: 150px;
    }

}